.container {
  text-align: center;
}

.title {
  margin-top: 30px;
  font-size: 36px;
  margin-bottom: 20px;
  margin-bottom: 100px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
}

.left {
  flex: 1;
  margin-right: 20px;
}

.image {
  max-width: 70%;
  height: auto;
  margin-bottom: 20px;
  margin-right: 20px;
}

.right {
  flex: 1;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.fixed-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Agrega aquí el resto de tus estilos para el footer fijo */
}


@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .image {
    max-width: 90%; // Hace la imagen más grande en dispositivos móviles
  }

  .left, .right {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }
}

