:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card {
  background-color: #d60909;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  color: white;
}

.login {
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
