:host {
  display: flex;
  justify-content: center;
  align-items: center; /* Asegúrate de centrar el contenido verticalmente */
  background-image: url('/assets/images/deadpool-wp.jpeg'); /* Ruta a la imagen */
  background-size: cover;
  background-position: center;
  width: 100%; /* Asegura que cubra todo el ancho */
  height: 100vh; /* Asegura que cubra toda la altura visible */

  left: 0;
  overflow: auto;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); /* Efecto difuminado */
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card {
  background-color: #d60909;
  /* Agrega transparencia para mejorar la visibilidad contra el fondo difuminado */
  opacity: 0.95;
}

/* Resto de tu CSS */


mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  color: white;
}

.login {
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
